@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald:wght@700&display=swap');

main {
    padding: 24px;
    background-color:rgb(219, 108, 94); 
    width: 800px; 
    margin: 200px auto 72px auto;
    border: 5px solid rgb(44,44,44);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,.3);
}

img {
    height: 200px;
    width: 200px; 
    border-radius: 50%;
    border:5px solid rgb(44,44,44);
    /* display: block; */
    margin-top: -134px;
}

h1 {
    font-size: 30px;
    color: rgb(31, 25, 25);
    font-weight: bold;
}

a {
    color: rgb(73, 29, 50);
}

span {
    color: rgb(66, 2, 2);
}

#todays-challenge {
    color: rgb(75, 59, 59);
    font-weight: bold; 
    /* Absolute: px - relative: (rem, em) */
    font-size: 32px;
}



